.reveal section img {
  border: 0;
  box-shadow: none;
}

.headline {
  color: blue;
  width: 80%;
  font-weight: bold;
  font-size: 0.8em !important;
  font-variant: small-caps !important;
}

.code {
  font-size: 0.2rem;
}

.agenda {
  font-size: 0.8em !important;
}
.reveal h2 {
  font-size: 1.2em;
}
.reveal pre {
  font-size: 0.7em;
}
.reveal p {
  font-size: 0.8em;
}